*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-dark: #333;
  --primary-light: #EDEADE;
  --secondary-light: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-light);
  color: var(--primary-dark);

}

/** Header **/
header {
  padding: 32px 0;
}

header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 72px;
  font-weight: 900;
}


/** Grid **/
.grid {
  max-width: 700px;
  max-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.grid .grid-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 600px;
  height: 600px;
}

.grid .grid-item {
  background-color: var(--primary-dark);
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

